@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(141, 75, 85);
    font-size:medium;
}

html
{
    height: 100%;
}

body
{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background-color:#f1f1f1;
}

p
{
    text-align: left;
    margin-left: 30px;
    margin-right: 20px;
    height: auto;
    display:block;
    padding-top: 5%;
    padding-bottom: 5%;
}

.gridWrapper > * 
{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 1px;
    text-align: center;
}

.gridWrapper
{
    display: grid;
    gap: 20px;
    padding: 1%;
    width: 100%;

    grid-template-areas:
    "avatar  aboutMe professionalExperience"
    "avatar  educationBackground professionalExperience"
    "contact educationBackground professionalExperience"
    "skills educationBackground professionalExperience"
    "skills educationBackground hobbies";

/*    grid-template-rows: 350px auto 1fr 250px;*/
    grid-template-rows: 250px 80px auto 1fr 250px;
    grid-template-columns: 300px 1fr 1fr;

}

.gridWrapper > .contact
{
    grid-area: contact;
}
.gridWrapper > .avatar
{
    grid-area: avatar;
}
.gridWrapper > .skills
{
    grid-area: skills;
}
.gridWrapper > .educationBackground
{
    grid-area: educationBackground;
}
.gridWrapper > .professionalExperience
{
    grid-area: professionalExperience;
}
.gridWrapper > .hobbies
{
    grid-area: hobbies;
}
.gridWrapper > .aboutMe
{
    grid-area: aboutMe;
}

/*Contact*/
/****************************************************/
/****************************************************/
.contact
{
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
}

.contactGridWrapper
{
    display: grid;
    grid-template-columns: 50px 1fr;
    row-gap: 10px;
    margin-left: 10px;
}

.contactWeb
{
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: left;
    align-items: center;
    display: flex;
}

.contactGps
{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
    align-items: center;
    display: flex;
}

.contactCel
{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    align-items: center;
    display: flex;
}

.contactMail
{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    align-items: center;
    display: flex;
}

.webIconList
{
    width: 40px;
    height: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 5px;
    padding: 5px;
}

.mailIconList
{
    width: 40px;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 5px;
    padding: 5px;
}

.celIconList
{
    width: 40px;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 5px;
    padding: 5px;
}

.gpsIconList
{
    width: 40px;
    height: auto;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 5px;
    padding: 5px;
}

.titleContent
{
    
    font-weight: bold;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-size:large;
}

.line-1 
{
    height: 2px;
    background: rgb(141, 75, 85);
    margin-left: 5%;
    margin-right: 5%;
}
/****************************************************/
/****************************************************/

/*Skills*/
/****************************************************/
/****************************************************/
.skills
{
    background-color: white;
    grid-column: 1/2;
    grid-row: 3/6;
}

.skillsList
{
    height: auto;
    text-align: left;
    margin-left: 11%;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-image: none;

}
.itemList
{
    padding-top: 3px;
    padding-bottom: 3px;
}
/****************************************************/
/****************************************************/

.educationBackground
{
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/5;
}

.professionalExperience
{
    background-color: white;
    grid-column: 3/4;
    grid-row: 1/3;
}

.aboutMe
{
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
}

.hobbies
{
    background-color: white;
    grid-column: 3/4;
    grid-row: 3/5;
}

/*Avatar*/
/****************************************************/
/****************************************************/
.avatarImg
{
    width: 101%;
    height: auto;
    display: block;
    top: 0%;
    position: absolute;
}
.avatar
{
    background-color: white;
    grid-column: 1/2;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 350px;
    overflow: hidden;
}
.avatarName
{
    position: absolute; 
    bottom: 0; 
    color: #f1f1f1; 
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity:1;
    font-weight: bold;
    font-size:large;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5.5%;
}
.avatar:hover .overlay
{
    box-shadow: inset 0px 0px 7.5px 0.1px black;
    opacity:1;
}
/****************************************************/
/****************************************************/

.overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .2s ease;
    opacity:0;
}
