@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background-color:#f1f1f1;
}

/*uso el > para indicar que todos los hijos que 
hereden de la clase tengan estas caracteristicas*/
.gridWrapper > * 
{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 1px;
    text-align: center;
    color: rgb(141, 75, 85);
}

.gridWrapper
{
    display: grid;
    gap: 20px;
    padding: 1%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px,  auto);
}

.contact
{
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
}
.skills
{
    background-color: white;
    grid-column: 1/2;
    grid-row: 3/6;
}
.studies
{
    background-color: white;
    grid-column: 2/4;
    grid-row: 1/4;
}

.hobbies
{
    background-color: white;
    grid-column: 2/4;
    grid-row: 4/6;
}

.avatarImg
{
    width: 101%;
    height: auto;
    display:block;
}

.avatar
{
    background-color: white;
    grid-column: 1/2;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 10px;
    max-height: 400px;
    overflow: hidden;
}

.avatarName
{
    position: absolute; 
    bottom: 0; 
    color: #f1f1f1; 
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity:1;
    font-size: 28px;
    padding: 20px;
}

.avatar:hover .overlay
{
    box-shadow: inset 0px 0px 7.5px 0.1px black;
    opacity:1;
}
.overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .2s ease;
    opacity:0;
}

/*
.selfie {
    position: relative;
  }
  
  .avatarImg {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .avatarName {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .selfie:hover .avatarName {
    opacity: 1;
  }*/

.footer
{
    background-color: white;
    grid-column: 1/4;
}